.project-detail {
  position: relative;
  max-width: 90%;
  margin: auto; }
  .project-detail .project-image-section {
    height: 100%;
    margin: auto; }
    .project-detail .project-image-section .project-main-image {
      max-width: 100%; }
  .project-detail .project-info-section .title, .project-detail .project-info-section .info, .project-detail .project-info-section .description {
    text-align: center;
    padding: 5px; }
  .project-detail .project-info-section .title {
    font-size: 24px; }
    .project-detail .project-info-section .title h1 {
      text-decoration-line: overline; }
    .project-detail .project-info-section .title h2 {
      font-size: 16px;
      font-style: italic; }
  .project-detail .project-info-section .description {
    text-align: start; }
  .project-detail .project-credits {
    margin: 20px 0 20px 0; }
    .project-detail .project-credits .title {
      font-size: 20px;
      font-weight: bold;
      background: black;
      width: auto;
      display: inline-block;
      color: white;
      padding: 5px;
      margin-bottom: 15px; }
    .project-detail .project-credits .client, .project-detail .project-credits .technologies, .project-detail .project-credits .location, .project-detail .project-credits .date {
      margin: 10px;
      font-size: 14px; }
    .project-detail .project-credits .technologies {
      margin: 30px 0 0 0; }
      .project-detail .project-credits .technologies .tag-techno {
        background: #8b00ff;
        border-radius: 15px;
        padding: 5px 15px;
        margin: 5px 5px;
        color: black;
        font-size: 0.72em;
        box-shadow: 0px 3px 11px 1px; }
        .project-detail .project-credits .technologies .tag-techno span {
          color: white; }
